<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../victims_style.css?1">
    <%= t.include("partials/_embedframe.html") %>
  </head>

  <body is='responsive-body'>

    <div class="victim-container">
    <% json.wine_country_fires_fatalities.dead.forEach(function(d,didx){ %>

      <div class="victim">
        <% if (d.Photo == 'blank') {%>
        <div class="image">
          <img src="../assets/photos/victims/blank.jpg">
        </div>
        <% } else if (d.Photo == 'robinson') {%>
        <div class="image">
          <img src="../assets/photos/victims/srobinson.jpg">
          <div class="caption"><%=d.PhotoCredit%></div>
        </div>
        <% } else if (d.Photo == '14433890' || d.Photo == '14381071' || d.Photo == '14392282' || d.Photo == '14359305' || d.Photo == '14354955' || d.Photo == '14566032') {%>
        <div class="image">
          <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.Photo %>/7/premium_landscape.jpg">
          <div class="caption"><%=d.PhotoCredit%></div>
        </div>
        <% } else {%>
          <div class="image">
          <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.Photo %>/7/900x0.jpg">
          <div class="caption"><%=d.PhotoCredit%></div>
        </div>
        <% } %>

        <div class="name"><%=d.Name%>, <%=d.Age%></div>
        <div class="obit"><%=d.Obituary%></div>
        <div class="read-more"><a href="<%=d.Link%>" target="_blank">Read more</a></div>

      </div>

    <% }) %>
    </div>

    <div class="credit-container">
      <div>Development by <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a> and <a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a></div>
    </div>


  </body>
</html>
