<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="title-container">
      <div class="title"><%= json.wine_country_fires_fatalities.Title %></div>
      <div class="deck"><%= json.wine_country_fires_fatalities.Deck %></div>
      <div class="author">By Chronicle staff</div>
      <div class="date">Last updated: <%= json.wine_country_fires_fatalities.Updated %></div>
    </div>

    <div class="victim-container">
    <% json.wine_country_fires_fatalities.dead.forEach(function(d,didx){ %>

      <div class="victim">
        <% if (d.Photo) {%>
        <div class="image">
          <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.Photo %>/3/600x0.jpg">
          <div class="caption"><%=d.PhotoCredit%></div>
        </div>
        <% } %>
        <div class="name"><%=d.Name%>, <%=d.Age%></div>
        <div class="obit"><%=d.Obituary%></div>
        <div class="read-more"><a href="<%=d.Link%>" target="_blank">Read more</a></div>

      </div>

    <% }) %>
    </div>

    <div class="credit-container">
      <div>Development by <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a> and <a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a></div>
    </div>

    <script src="../victims_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
