<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="free">
    <meta http-equiv="refresh" content="7200">
    <link rel="stylesheet" type="text/css" href="../embed_style.css?2">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- Mapbox GL -->
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css" rel='stylesheet' />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js"></script>

    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_embedframe.html") %>
  </head>

  <body is='responsive-body'>

    <div class="entire-container">

    <div class="overlay-aboutthedata" id="aboutthedata-overlay">
      <div class="aboutthedata-box" id="aboutthedata-box">
        <div class="close-button" id="close-data-box"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="source">Hot spots are locations identified by satellite analysts from <a href="https://www.geomac.gov/viewer/help/hms.html" target="_blank">NOAA</a> based on various types of imaging.</div>
        <div class="source">Fire areas are based on infrared and thermal imaging from NASA satellites, <a href="https://www.geomac.gov/viewer/help/modis_active.html" target="_blank">MODIS</a> and <a href="https://www.geomac.gov/viewer/help/viirs_active.html" target="_blank">VIIRS</a>.</div>
        <div class="source">Hot spots and fire perimeters are an approximation and do not include all areas affected by fire nor indicate with certainty an area was affected.</div>
        <div class="source">Air quality data is from <a href="http://berkeleyearth.org/air-pollution-overview/" target="_blank">Berkeley Earth</a>.</div>
      </div>
    </div>

    <div class="interactive-container">

    <div class="map-container-full">

      <div class="map-info-box">

        <div class="banner-logo">
          <a href="http://www.sfchronicle.com" target="_blank">
              <img src="../assets/logos/sf_logo_black.png"></img>
          </a>
        </div>

        <div class="headline">Interactive map:<div> Southern California wildfires</div></div>
        <%= t.include("partials/_fullwidthmap-social.html") %>

        <div class="legend-container">
          <div class="legend-element"><div class="circle-icon"></div> Current hot spot</div>
          <div class="legend-element death-icon"><img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png"></img> Fire information</div>
        </div>

        <!-- <div class="instructions"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Click on the icons and explore the buttons below for more information.</div> -->

        <div class="button-container">
          <div class="button-desc">Fire perimeters:</div>
          <div id="button-collection"></div>
        </div>

        <div class="button-container">
          <div class="button" id="airquality">See up-to-date air quality</div>
        </div>

        <div class="credits-box">
          <div class="credit">Fire hot spots updated on <span id="updateID"></span></div>
          <div class="credit"><span id="airDate"></span></div>
          <div class="credit">Development by <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a> and <a href="mailto:cwirtanen@sfchronicle.com">Clint Wirtanen</a></div>
          <div id="aboutthedata"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Read about the data</div>
        </div>
      </div>

      <div id="map-leaflet"></div>

      <div class="air-legend-container" id="airquallegend">
        <div class="swath-text left">Good</div>
        <div class="swath blue-swath0"></div>
        <div class="swath blue-swath1"></div>
        <div class="swath blue-swath2"></div>
        <div class="swath blue-swath3"></div>
        <div class="swath blue-swath4"></div>
        <div class="swath red-swath4"></div>
        <div class="swath red-swath3"></div>
        <div class="swath red-swath2"></div>
        <div class="swath red-swath1"></div>
        <div class="swath red-swath0"></div>
        <div class="swath-text right">Hazardous</div>
      </div>

    </div>
    <div class="credits-box mobile">
      <div class="credit">Fire hot spots updated on <span id="updateIDmobile"></span></div>
      <div class="credit"><span id="airDatemobile"></span></div>
      <div class="source">Hot spots are locations identified by satellite analysts from <a href="https://www.geomac.gov/viewer/help/hms.html" target="_blank">NOAA</a> based on various types of imaging.</div>
      <div class="source">Fire areas are based on infrared and thermal imaging from NASA satellites, <a href="https://www.geomac.gov/viewer/help/modis_active.html" target="_blank">MODIS</a> and <a href="https://www.geomac.gov/viewer/help/viirs_active.html" target="_blank">VIIRS</a>.</div>
      <div class="source">Hot spots and fire perimeters are an approximation and do not include all areas affected by fire nor indicate with certainty an area was affected.</div>
      <div class="source">Air quality data is from <a href="http://berkeleyearth.org/air-pollution-overview/" target="_blank">Berkeley Earth</a>.</div>
      <div class="smallbreak"></div>
      <div class="credit">Development by <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a> and <a href="mailto:cwirtanen@sfchronicle.com">Clint Wirtanen</a></div>
    </div>

    </div>

  </div>

    <script src="http://extras.sfgate.com/editorial/wildfires/overtime_la/data.json?3"></script>

    <script>
      var fire_names = <%= JSON.stringify(json.SoCalFireNames) %>
    </script>

    <script src="../map-leaflet-embed.js" async></script>
  </body>
</html>
