<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
    integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
    crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
    integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
    crossorigin=""/>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="interactive-container">

    <div class="headline">Interactive Map: Wine Country Fires</div>
    <div class="deck">Tens of thousands of acres burned, more than 1,500 structures were destroyed and three deaths have been confirmed as fires leveled swaths of Napa and Sonoma counties and beyond.</div>

    <div class="legend-container">
      <div class="legend-element"><img src="../assets/graphics/fire_icon.png"></img> Fire area</div>
      <div class="legend-element"><img src="../assets/graphics/evacuation_icon.png"></img> Evacuation center</div>
      <div class="legend-element"><img src="../assets/graphics/hospitalsEvacuated_icon.png"></img> Evacuated hospital</div>
      <div class="legend-element"><div class="area-icon"></div> Evacuation area</div>
    </div>

    <div class="map-container">
      <div id="map-leaflet"></div>

      <div class="credits-box">
        <div class="source">Data from <a href="http://www.ospo.noaa.gov/Products/land/hms.html" target="_blank">NOAA</a>.</div>
        <div class="source">Last updated at 3:30 p.m. on Oct. 9, 2017</div>
        <div class="credit">Development by <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a> and <a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a></div>
        <div class="credit">Graphics by <a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a></div>
      </div>

    </div>

    </div>

    <script>
      var fire_data = <%= JSON.stringify(json.FiresNew) %>
      var evacuation_data = <%= JSON.stringify(json.EvacuationCenters) %>
      var hospitals_data = <%= JSON.stringify(json.EvacuatedHospitals) %>
    </script>

    <script src="../map-leaflet_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
