<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
    integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
    crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
    integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
    crossorigin=""/>
    <!-- <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script> -->

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="interactive-container">

    <div class="headline">Interactive Map: Wine Country Fires</div>

    <div class="instructions"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Click on the icons for more information.</div>
    <div class="read-fullwidth"><a href=""><i class="fa fa-external-link" aria-hidden="true"></i> See our more detailed map.</a></div>

    <div class="legend-container">
      <div class="legend-element"><div class="circle-icon"></div> Current hot spots</div>
      <div class="legend-element"><img src="../assets/graphics/evacuation_icon.png"></img> Evacuation center</div>
      <div class="legend-element"><img src="../assets/graphics/hospitalsEvacuated_icon.png"></img> Evacuated hospital</div>
      <div class="legend-element death-icon"><img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-violet.png"></img> Deaths</div>
      <div class="legend-element wineries-icon"><img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png"></img> Damaged wineries</div>
    </div>

    <div class="map-container">
      <div id="map-leaflet"></div>

      <div class="credits-box">
        <div class="source">Data from <a href="http://www.ospo.noaa.gov/Products/land/hms.html" target="_blank">NOAA</a> and Sonoma County Coroner’s Office.</div>
        <div class="credit">Data updated at <span id="updateID"></span></div>
        <div class="credit">Development by <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, <a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a> and <a href="mailto:cwirtanen@sfchronicle.com">Clint Wirtanen</a></div>
        <div class="credit">Graphics by <a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a></div>
      </div>

    </div>

    </div>

    <script src="http://extras.sfgate.com/editorial/wildfires/nasa12.json" type="text/javascript"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/nasa24.json" type="text/javascript"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/nasa7d.json" type="text/javascript"></script>
    <script src="../assets/mapfiles/napas.js" type="text/javascript"></script>
    <script src="../assets/mapfiles/sonoma.js" type="text/javascript"></script>
    <script>
      var winery_data = <%= JSON.stringify(json.DamagedWineries) %>
      var deaths_data = <%= JSON.stringify(json.DeathLocations) %>
      var evacuation_data = <%= JSON.stringify(json.EvacuationCentersUpdatedClare) %>
      var hospitals_data = <%= JSON.stringify(json.EvacuatedHospitals) %>
    </script>

    <script src="../map-leaflet_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
