<div id="fullwidth-social" class="clearfix">
  <div class=" social">
    <a id="mail-icon" title="Share via email" href="mailto:?subject=Interactive Map: Wine Country Fires&body=Interactive Map: Wine Country Fires%0A%0Ahttp://projects.sfchronicle.com/2017/interactive-map-wine-country-fires">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>

  <div class=" social">
    <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://projects.sfchronicle.com/2017/interactive-map-wine-country-fires', 'facebook-share-dialog', 'width=626,height=436'); return false;">
      <i class="fa fa-facebook"></i>
    </a>
  </div>

  <div class=" social">
    <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http://projects.sfchronicle.com/2017/interactive-map-wine-country-fires&text=Interactive Map: Check on the spread of the Wine Country Fires, evacuation centers and more.&via=sfchronicle">
      <i class="fa fa-twitter"></i>
    </a>
  </div>
</div>