@import "values";
@import "flexbox";
@import "fonts";
@import "sfchronicle";


.recirculate-links {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  font-family: @med-graphics;
  .re-link {
    padding: 0 5px;
    display: inline-block;
  }
}

.dot {
  z-index: 1000;
}

.map-container-full {
  width: 100%;
  margin: 0 auto;
  position: relative;

}
#map, #map-leaflet {
 height: 100%;
 width: 100%;
 overflow: hidden;
 position: fixed;
 left: 0;
 top: 0;

 @media @map-width{
  position: relative;
    height: 450px;
    width: 90%;
    margin: 0 auto;
 }

}

#map-leaflet {
  @media @mobile {
    width: 90%;
    margin: 0 auto;
  }
}

path {
  cursor: -webkit-grab !important;
}

@now: #8C0000;
@sonoma: #75165B;
@napa: #351B77;
@hours12: #FF6721;
@hours24: #FF8800;
@days7: #FFB200;

path {
  fill-opacity: 0.6 !important;
}

.dotsSVG {
  z-index: 1000 !important;
}

.button-container {
  text-align: center;
  font-family: @block-graphics;
  padding-bottom: 10px;
  font-size: 15px;

  @media @mobile{
    font-size:14px;
  }
  @media @mini-mobile{
    font-size:12px;
  }

  .button-desc {
    padding-bottom: 5px;
    font-size: 17px;
    font-family: @bold-graphics;
    // font-style: italic;
  }
  .button {
    display: inline-block;
    // width: 220px;
    padding: 2px 10px;
    margin-bottom: 4px;
    cursor: pointer;
  }
  #now {
    border: 2px solid @now;
    border-radius: 5px;
    // color: @now;
    margin-right: 5px;
    &.active {
      background: lighten(@now,15%);
      // color: white;
    }
  }
  #avas {
    border: 2px solid @napa;
    border-radius: 5px;
    color: @napa;
    &.active {
      background: lighten(@napa,15%);
      color: white;
    }
  }
  #last12 {
    border: 2px solid @hours12;
    border-radius: 5px;
    color: @hours12;
    &.active {
      background: lighten(@hours12,5%);
      color: white;
    }
  }
  #last24 {
    border: 2px solid @hours24;
    border-radius: 5px;
    color: @hours24;
    &.active {
      background: lighten(@hours24,5%);
      color: white;
    }
  }
  #last7days {
    border: 2px solid @days7;
    border-radius: 5px;
    color: darken(@days7,40%);
    &.active {
      background: @days7;
      // color: white;
    }
  }
}

.credits-box {

  font-family: @med-graphics;
  max-width: 100%;
  text-align: left;
  padding: 20px 20px 0px 20px;
  font-size: 14px;
  line-height: 1.4;

  @media @map-width{
    display:none;
  }

  &.mobile{
    display:none;

    @media @map-width{
      display:block;
      font-size:12px;
    }
  }

  @media @mobile {
    padding: 20px 10px;
    margin-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }

  @media @mini-mobile {
    padding: 10px;
    margin-top: 0;
  }
}

a {
  color: @highlight;
  font-style: italic;
}

.source, .credit {
  max-width: 800px;
  // font-style: italic;
  margin: auto;
  // font-family: @med-graphics;
  // font-size: 12px;
  a {
    font-style: italic;
  }

  @media @mobile {
    padding-left: 0px;
  }

  @media @mini-mobile {
    padding: 0;
  }
  a {
    color: @highlight;
  }

  // a {
  //   color: white;
  //
  //   @media @mobile {
  //     color: black;
  //   }
  //
  //   &:hover {
  //     color: white;
  //   }
  // }
}

.banner-logo {
  max-width: 150px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  img {
    width: 100%;
  }

  @media @map-width{
    padding-bottom:0px;
  }
}

.legend-container {
  text-align: center;
  font-size: 15px;
  padding: 0 20px;

  img {
    max-width: 20px;
  }
  .legend-element {
    display: inline-block;
    width: auto;
    padding: 0 5px;
    img {
      vertical-align: sub;
    }
    &.death-icon, &.wineries-icon {
      img {
        max-width: 12px;
      }
    }
  }
  padding: 20px 0;
  max-width: 600px;
  margin: auto;
  vertical-align: center;

  @media @mobile {
    padding: 10px 5px;
    font-size:14px;
  }

  @media @mini-mobile {
    padding: 10px 5px;
    font-size:12px;
  }
}

.headline {
  font-family: @bold-graphics;
  text-align: center;
  padding:0 10px 10px;
  font-size: 25px;

  @media @map-width{
    max-width:250px;
    margin:0 auto;
    line-height:1.2;
  }

}

.area-icon, .circle-icon {
  display: inline-block;
  margin-bottom: -5px;
}

.area-icon {
  height: 20px;
  width: 20px;
  border: 3px solid #3388ff;
  background: lighten(#3388ff,20%);
}

.circle-icon {
  height: 15px;
  width: 15px;
  background: rgba(140,0,0,0.2);
  border-radius: 20px;
  border: 2px solid #8C0000;
  margin-bottom: -2px;
}

.deck {
  font-family: @med-graphics;
  text-align: center;
  font-size: 18px;
  max-width: 800px;
  margin: auto;
  padding: 10px 20px 0 20px;
  line-height: 1.4;

  @media @mobile{
    line-height:1.2;
    font-size:16px;
  }
}

.map-info-box {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0px;
  padding-top: 10px;
  max-width: 470px;
  z-index: 500;
  background: #fff;
  box-shadow:1px 2px 2px 0px #ccc;
  font-family: @block-graphics;

  @media @map-width{
    position: static;
    width: 100%;
    padding-top:5px;
    max-width: none;
    background:#fff;
  }
}

.instructions {
  text-align: center;
  padding-bottom: 20px;
  font-size: 13px;
  font-family: @med-graphics;
  max-width: 300px;
  margin: auto;
  .fa-hand-o-right {
    padding-right: 5px;
  }
  .fa-angle-double-down {
    font-size: 30px;
  }
  @media @mobile {
    padding-top: 10px;
  }
}


#fullwidth-social{
  width:100%;
  text-align:center;

  .social{
    display:inline-block;
    padding:0 10px;

    @media @mobile{
      font-size: 17px;
    }
  }
}

.credit{
  &.noaa{
    font-family: @med-graphics;
    font-size: 11px;
    margin-top: 10px;
  }
}
