<!doctype html>
<html lang="en-US">
  <head>
    <title>Interactive Map: Wine Country Fires</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="free">
    <link rel="stylesheet" type="text/css" href="./fullwidth_style.css?v=17">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
    integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
    crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
    integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
    crossorigin=""/>
    <%= t.include("partials/_paywall-fullwidth.html") %>
    <%= t.include("partials/_head-fullwidth.html") %>
  </head>

  <body>

    <div class="overlay-aboutthedata" id="aboutthedata-overlay">
      <div class="aboutthedata-box" id="aboutthedata-box">
        <div class="close-button" id="close-data-box"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="source">Hot spots are locations identified by satellite analysts from <a href="https://www.geomac.gov/viewer/help/hms.html" target="_blank">NOAA</a> based on various types of imaging.</div>
        <div class="source">Fire areas are based on infrared and thermal imaging from NASA satellites, <a href="https://www.geomac.gov/viewer/help/modis_active.html" target="_blank">MODIS</a> and <a href="https://www.geomac.gov/viewer/help/viirs_active.html" target="_blank">VIIRS</a>.</div>
        <div class="source">Hot spots and fire perimeters are an approximation and do not include all areas affected by fire nor indicate with certainty an area was affected.</div>
        <div class="source">Air quality data is from <a href="http://berkeleyearth.org/air-pollution-overview/" target="_blank">Berkeley Earth</a>.</div>
        <div class="source">Evacuation centers data are from <a href="http://www.caloes.ca.gov/ICESite/Pages/October-2017-Northern-California-Fires.aspx" target="_blank">Cal OES</a> and <a href="http://sonomacounty.ca.gov/Public-Safety/News/Evacuation-Shelters/" target="_blank">Sonoma County Public Safety</a>.</div>
        <div class="source">Information collected from Sonoma, Napa, Mendocino and Yuba counties.</div>
        <div class="smallbreak"></div>
        <div class="credit">Graphics by John Blanchard</div>
        <div class="credit">Research by Esther Mobley, Sarah Fritsche, Clare Varellas, Drew Costley, Annie Vainshtein, Richard Geiger, Paolo Lucchesi, Barry Hodge and Graph Massara</div>

      </div>
    </div>

    <div class="interactive-container">

    <div class="map-container-full">

      <div class="map-info-box">

        <div class="banner-logo">
          <a href="http://www.sfchronicle.com" target="_blank">
              <img src="./assets/logos/sf_logo_black.png"></img>
          </a>
        </div>

        <div class="headline">Interactive map:<div> Wine Country fires</div></div>
        <%= t.include("partials/_fullwidthmap-social.html") %>
        <div class="deck">Here you can see how the fires grew and where they’re spreading. This map will be updated as information becomes available.</div>

        <div class="recirculate-links">
          <div class="re-link"><a href="http://www.sfchronicle.com/north-bay-fires/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Complete coverage</a></div>
          <div class="re-link"><a href="http://projects.sfchronicle.com/2017/slideshow-wine-country-fires/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Photos from the fires.</a></div>
        </div>

        <div class="legend-container">
          <div class="legend-element"><div class="circle-icon"></div> Current hot spot</div>
          <div class="legend-element"><img src="./assets/graphics/evacuation_icon.png"></img> Evacuation center</div>
          <div class="legend-element"><img src="./assets/graphics/hospitalsEvacuated_icon.png"></img> Evacuated hospital</div>
          <div class="legend-element death-icon"><img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-violet.png"></img> Death</div>
          <div class="legend-element wineries-icon"><img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png"></img> Damaged winery</div>
        </div>

        <div class="instructions"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Click on the icons and explore the buttons below for more information.</div>

        <div class="button-container">
          <div class="button-desc">How the fires spread:</div>
          <% for (var i=1; i<10; i++){ %>
            <div class="day<%=i%> button active" id="day<%=i%>button">Day <%=i%></div>
          <% } %>
          <div class="day10 button active" id="day10button">Today</div>
        </div>

        <div class="button-container">
          <div class="button" id="airquality">See up-to-date air quality</div>
        </div>

        <div class="button-container">
          <div class="button" id="iconsbutton"><span id="iconsbutton-text">Hide</span> pins</div>
        </div>

        <div class="credits-box">
          <div class="credit">Fire hot spots last updated on <span id="updateID"></span></div>
          <div class="credit"><span id="airDate"></span></div>
          <div class="credit">Information about evacuation centers, damaged wineries and deaths updated on Oct. 17</div>
          <div class="credit">Development by <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, <a href="mailto:cwirtanen@sfchronicle.com">Clint Wirtanen</a> and Lucio Villa</div>
          <div id="aboutthedata"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Read about the data</div>
        </div>
      </div>

      <div id="map-leaflet"></div>

      <div class="air-legend-container" id="airquallegend">
        <div class="swath-text left">Good</div>
        <div class="swath blue-swath0"></div>
        <div class="swath blue-swath1"></div>
        <div class="swath blue-swath2"></div>
        <div class="swath blue-swath3"></div>
        <div class="swath blue-swath4"></div>
        <div class="swath red-swath4"></div>
        <div class="swath red-swath3"></div>
        <div class="swath red-swath2"></div>
        <div class="swath red-swath1"></div>
        <div class="swath red-swath0"></div>
        <div class="swath-text right">Hazardous</div>
      </div>

    </div>
    <div class="credits-box mobile">
      <div class="credit">Fire hot spots last updated on <span id="updateIDmobile"></span></div>
      <div class="credit"><span id="airDatemobile"></span></div>
      <div class="credit">Information about evacuation centers, damaged wineries and deaths updated on Oct. 17</div>
      <div class="smallbreak"></div>
      <div class="source">Hot spots are locations identified by satellite analysts from <a href="https://www.geomac.gov/viewer/help/hms.html" target="_blank">NOAA</a> based on various types of imaging.</div>
      <div class="source">Fire areas are based on infrared and thermal imaging from NASA satellites, <a href="https://www.geomac.gov/viewer/help/modis_active.html" target="_blank">MODIS</a> and <a href="https://www.geomac.gov/viewer/help/viirs_active.html" target="_blank">VIIRS</a>.</div>
      <div class="source">Hot spots and fire perimeters are an approximation and do not include all areas affected by fire nor indicate with certainty an area was affected.</div>
      <div class="source">Air quality data is from <a href="http://berkeleyearth.org/air-pollution-overview/" target="_blank">Berkeley Earth</a>.</div>
      <div class="source">Evacuation centers data are from <a href="http://www.caloes.ca.gov/ICESite/Pages/October-2017-Northern-California-Fires.aspx" target="_blank">Cal OES</a> and <a href="http://sonomacounty.ca.gov/Public-Safety/News/Evacuation-Shelters/" target="_blank">Sonoma County Public Safety</a>.</div>
      <div class="source">Information collected from Sonoma, Napa, Mendocino and Yuba counties.</div>
      <div class="smallbreak"></div>
      <div class="credit">Development by <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, <a href="mailto:cwirtanen@sfchronicle.com">Clint Wirtanen</a> and Lucio Villa</div>
      <div class="smallbreak"></div>
      <div class="credit">Graphics by John Blanchard</div>
      <div class="credit">Research by Esther Mobley, Sarah Fritsche, Clare Varellas, Drew Costley, Annie Vainshtein, Richard Geiger, Paolo Lucchesi, Barry Hodge and Graph Massara</div>
    </div>

    </div>

    <script src="http://extras.sfgate.com/editorial/wildfires/overtime/2017-10-08.json?v"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/overtime/2017-10-09.json?v"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/overtime/2017-10-10.json?v"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/overtime/2017-10-11.json?v"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/overtime/2017-10-12.json?v"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/overtime/2017-10-13.json?v"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/overtime/2017-10-14.json?v"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/overtime/2017-10-15.json?v"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/overtime/2017-10-16.json?v"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/overtime/2017-10-17.json?v"></script>

    <script>
      var fire_names = <%= JSON.stringify(json.FireNames) %>
      var winery_data = <%= JSON.stringify(json.DamagedWineries) %>
      var deaths_data = <%= JSON.stringify(json.DeathLocations) %>
      var evacuation_data = <%= JSON.stringify(json.EvacuationCentersUpdatedClare) %>
      var hospitals_data = <%= JSON.stringify(json.EvacuatedHospitals) %>
    </script>

    <script src="./map-leaflet-fullwidth.js?v=16" async></script>
  </body>
</html>
