<!doctype html>
<html lang="en-US">
  <head>
    <title>Interactive Map: Wine Country Fires</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./fullwidth_style.css?v=4">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
    integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
    crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
    integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
    crossorigin=""/>
    <%= t.include("partials/_paywall-fullwidth.html") %>
    <%= t.include("partials/_head-fullwidth.html") %>
  </head>

  <body>

    <div class="interactive-container">

    <div class="map-container-full">

      <div class="map-info-box">

        <div class="banner-logo">
          <a href="http://www.sfchronicle.com" target="_blank">
              <img src="./assets/logos/sf_logo_black.png"></img>
          </a>
        </div>

        <div class="headline">Interactive map: Wine Country fires</div>
        <%= t.include("partials/_fullwidthmap-social.html") %>
        <div class="deck">Here you can see how the fires grew and where they’re spreading. This map will be updated as information becomes available.</div>

        <div class="recirculate-links">
          <div class="re-link"><a href="http://www.sfchronicle.com/north-bay-fires/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Complete coverage</a></div>
          <div class="re-link"><a href="http://projects.sfchronicle.com/2017/slideshow-wine-country-fires/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Photos from the fires.</a></div>
        </div>

        <div class="legend-container">
          <div class="legend-element"><div class="circle-icon"></div> Current hot spots</div>
          <div class="legend-element"><img src="./assets/graphics/evacuation_icon.png"></img> Evacuation center</div>
          <div class="legend-element"><img src="./assets/graphics/hospitalsEvacuated_icon.png"></img> Evacuated hospital</div>
          <div class="legend-element death-icon"><img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-violet.png"></img> Deaths</div>
          <div class="legend-element wineries-icon"><img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png"></img> Damaged wineries</div>
        </div>

        <div class="instructions"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Click on the icons and explore the buttons below for more information.</div>

        <div class="button-container">
          <div class="button-desc">How the fires spread:</div>
          <div class="button active" id="last12">Last 12 hours</div>
          <div class="button active" id="last24">Last 12 - 24 hours</div>
          <div class="button active" id="last7days">Last 1 - 7 days</div>
        </div>

        <div class="credits-box">
          <div class="credit">Fire hot spots last updated on <span id="updateID"></span></div>
          <div class="credit">Data updated on Oct. 13.</div>
          <div class="source">Data from <a href="http://www.ospo.noaa.gov/Products/land/hms.html" target="_blank">NOAA</a>, <a href="http://www.caloes.ca.gov/ICESite/Pages/October-2017-Northern-California-Fires.aspx" target="_blank">Cal OES</a>, <a href="http://sonomacounty.ca.gov/Public-Safety/News/Evacuation-Shelters/" target="_blank">Sonoma County Public Safety</a> and Sonoma County Coroner’s Office</div>
          <div class="credit">Development by <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, <a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a> and <a href="mailto:cwirtanen@sfchronicle.com">Clint Wirtanen</a></div>
          <div class="credit">Graphics by <a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a></div>
          <div class="credit">Research by <a href="mailto:emobley@sfchronicle.com">Esther Mobley</a>, <a href="mailto:sfritsche@sfchronicle.com">Sarah Fritsche</a>, <a href="mailto:cvarellas@sfchronicle.com">Clare Varellas</a> and Richard Geiger</div>
        </div>
      </div>

      <div id="map-leaflet"></div>
    </div>
    <div class="credits-box mobile">
      <div class="credit">Fire hot spots last updated on <span id="updateIDmobile"></span></div>
      <div class="credit">Data updated on Oct. 13.</div>
      <div class="source">Data from <a href="http://www.ospo.noaa.gov/Products/land/hms.html" target="_blank">NOAA</a>, <a href="http://www.caloes.ca.gov/ICESite/Pages/October-2017-Northern-California-Fires.aspx" target="_blank">Cal OES</a>, <a href="http://sonomacounty.ca.gov/Public-Safety/News/Evacuation-Shelters/" target="_blank">Sonoma County Public Safety</a> and Sonoma County Coroner’s Office</div>
      <div class="credit">Development by <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, <a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a> and <a href="mailto:cwirtanen@sfchronicle.com">Clint Wirtanen</a></div>
      <div class="credit">Graphics by <a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a></div>
      <div class="credit">Research by <a href="mailto:emobley@sfchronicle.com">Esther Mobley</a>, <a href="mailto:sfritsche@sfchronicle.com">Sarah Fritsche</a>, <a href="mailto:cvarellas@sfchronicle.com">Clare Varellas</a> and Richard Geiger</div>
    </div>

    </div>

    <script src="http://extras.sfgate.com/editorial/wildfires/nasa12.json" type="text/javascript"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/nasa24.json" type="text/javascript"></script>
    <script src="http://extras.sfgate.com/editorial/wildfires/nasa7d.json" type="text/javascript"></script>
    <script src="./assets/mapfiles/napas.js" type="text/javascript"></script>
    <script src="./assets/mapfiles/sonoma.js" type="text/javascript"></script>
    <script>
      var fire_names = <%= JSON.stringify(json.FireNames) %>
      var winery_data = <%= JSON.stringify(json.DamagedWineries) %>
      var deaths_data = <%= JSON.stringify(json.DeathLocations) %>
      var evacuation_data = <%= JSON.stringify(json.EvacuationCentersUpdatedClare) %>
      var hospitals_data = <%= JSON.stringify(json.EvacuatedHospitals) %>
    </script>

    <script src="./map-leaflet-fullwidth.js?v=4" async></script>
  </body>
</html>
